#body{
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    font-size: 50px;
}
body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#title{
    /*font-family:Cursive;*/
    font-size:22pt;
}
a{
    text-decoration: none;
    color: white;
}
#guide_popup{
    display:none;
    border: solid 5px white;
    position: relative;
    overflow: scroll;
    width: 90%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
#crossButton{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    width: 50px;
    height: 50px;
}
#showGuide{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}
p{
    font-size: 25px;
    margin: 5%;
    line-height: 50px;
}