body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#decor-top {
    position: fixed;
    top: 10px;
}
#inventaire-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.849);
}
#inventaire{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 600px;
    border: 5px solid white;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#inventaire_head {
    display: flex;
}
#inventaire_head h2{
    position: relative;
    left: 15%;
    top: -4px;
}
#title{
    background-color: black;
    font-size:22pt;
    color:white;
    border-style: none;
    border-color:white;
    font-family: 'Press Start 2P', cursive;
}
input {
    background-color: #000;
    border: none;
    color: white;
    padding: 8px;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    padding: 10px;
    width: 100%;
    text-decoration: none;
}
#form { 
    position: fixed; 
    bottom: 5px; 
}
table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;  
}
tr{
    width: 6.2em;
    height: 6.2em;
}
td{
    border: 1px solid white;
    width: 6.2em;
    height: 6.2em;
    text-align: center;
}
#descriptionObjet{
    border: 1px solid white;
    height: 150px;
    width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.zoom:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.objets{
    display: none;
}
.room {
    display: none;
    margin-top: 40px;
}
#gameOver{
    display:none;
}
.key{
    display: none;
    margin-top: 40px;
}
#crossButton{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}
.bar {
    display: block;
    position: fixed;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
}
#player-life {
    bottom: 100px;
    left: 30px;
}
#enemy-life {
    display: none;
    bottom: 100px;
    right: 30px;
}
progress {
    width: 300px;
    height: 30px;
}
#gameOver {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center; 
}

