body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#inventaire{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 600px;
    height: 600px;
    border: 5px solid white;
    padding: 10px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}
#inventaire_head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title{
    background-color: black;
    /*font-family:Cursive;*/
    font-size:22pt;
    color:white;
    border-style: none;
    border-color:white;
    font-family: 'Press Start 2P', cursive;
}
table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    
}
tr{
    width: 100%;
}
td{
    
    border: 1px solid white;
    
    padding:50px;

}
#descriptionObjet{
    border: 1px solid white;
    height: 50%;
}