body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
#inventaire{
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 600px;
    /* height: 600px; */
    border: 5px solid white;
    padding: 10px;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
   
}

#inventaire_head h2{
    text-align: center;
}

#title{
    background-color: black;
    /*font-family:Cursive;*/
    font-size:22pt;
    color:white;
    border-style: none;
    border-color:white;
    font-family: 'Press Start 2P', cursive;
}


input {
    background-color: #000;
    border: none;
    color: white;
    padding: 8px;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    padding: 10px;
    width: 90%;
    text-decoration: none;
}
#form { 
    position: fixed; 
    bottom: 5px; 
}
table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;  
}
tr{
    width: 6.2em;
    height: 6.2em;
}
td{
    border: 1px solid white;
    width: 6.2em;
    height: 6.2em;
    text-align: center;


}
#descriptionObjet{
    border: 1px solid white;
    height: 150px;
    width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.zoom:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.room {
    display: none;
}
#gameOver{
    display:none;
}

.key{
    display: none;
}

#crossButton{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}
.description {
    position: absolute;
}

